
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
     /*colors */
      --back-color-blue1: #0091E2;
      --back-color-blue2: #00A3FF;
      --back-color-gold1: #FFF6E8;
      --back-color-gold2: #E5931D;
      --back-color-gold2-transparent: #e5921d50;
      --back-gold-color-v1: #925602;
      --back-color-red1: #FA3C53;
      --text-color-para1: #444444;
      --text-color-title: #12394F;
      --text-color-title-transparent: #12394f50;
      --text-color-para2: #6E8794;
      --text-color-black: #000000;
      --featured-plan: #28C238;
      --white-text:#ffffff;
      --gray-text:#c0b6b6;
      font-size: 16px;
      --basic-plan-color: #4515ad;
      --border-radius-lg: 15px;
      --border-radius-md: 10px;
      --border-radius-sm: 5px;
}

@keyframes slideLoader {
  0%, 100%{
    background-position: right center;
  }
  50%{
      background-position: left center;
  }
}

html{
  scroll-behavior: smooth;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu',sans-serif;
}

a{
  color: var(--back-color-blue1);
  text-decoration: none;
}

.main-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--text-color-title);
  padding: 5px 10%;
  justify-content: space-between;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  max-height: 150px;
}

.main-header .navbar{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-header .navbar a{
  color: var(--back-color-gold1);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0 0 0 10px;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--text-color-title);
  color: var(--back-color-gold1);
  padding: 20px 0;
}


.footer-col{
  width: clamp(180px, 20%, 600px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2px auto 15px;
}

.footer a, .footer p{
  color: var(--gray-text);
  transition: all 0.4s;
  margin: 2px 0;
}

.footer a:hover{
  font-weight: 600;
  color: var(--back-color-gold2);
  padding: 0 0 0 5px;
}

.footer .icon{
  font-size: 1.1rem;
  color: var(--back-color-gold2);
  font-weight: bold;
}
.footer-content{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 5px;
}

/* title Component */

.main-title{
  padding: 10px 0 5px;
  color: var(--text-color-title);
  font-size: 20px;
  font-weight: 800;
  width: 90%;
}

.divider {
  width: 90%;
  margin: 5px auto 10px;
  border-bottom: 2px solid var(--text-color-title-transparent);
}

.medium-title{
  width: 100%;
  font-size: 16px;
  color: var(--text-color-title);
  font-weight: 800;
  margin: 10px auto;
}

.small-title{
  width: 95%;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-title);
  margin: 5px 0;
}


/* page styles */

.page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2%;
  padding-block: 20px;
  justify-content:center;
}

/* Blog component styles */

.blogs-row{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.blogs-row .main-blog{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
}

.blogs-row .side-blogs{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 0 0 2.5%;
}

.blogs-row .side-blogs a{
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--back-color-blue1);
}


.blog-preview-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: var(--border-radius-lg);
  border: 1.2px solid var(--gray-text);
  overflow: hidden;
  cursor: pointer;
  background: var(--back-color-gold1);
}

.blog-preview-container .image-container{
  width: 50%;
  height: inherit;
}

.blog-preview-container .image-container img{
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-lg);
}

.blog-preview-container .content{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  position: relative;
  bottom: 0;
}



.blog-preview-container .content p {
  font-size: 0.87rem;
  line-height: 23px;
  color: var(--text-color-para1);
  text-align: left;
}

.blog-preview-container .content span{
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color-title);
  margin: 10px 0;
}

.blog-container-row{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  border: 1.2px solid var(--gray-text);
  cursor: pointer;
}

.blog-container-row .image-container{
  width: 40%;
  height: auto;
}

.blog-container-row .image-container img{
  width: 100%;
  height: auto;
}

.blog-container-row .content{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1% 10px;
  margin: 5px auto;
}


.blog-container-row .content p{
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-color-para1);
}

/* Loader styles */

.blog-preview-loader{
  width: 100%;
  height: 65vh;
  border-radius: var(--border-radius-lg);
  background: linear-gradient(to right, #f1f0f0, #c1c0c0, #f1f0f0);
  background-size: 200%;
  background-position: left;
  animation: slideLoader 1.2s ease-out 0s infinite normal;
  border: 1px solid gray;
}

.blog-loader{
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 32vh;
  background: linear-gradient(to right, #f1f0f0, #c1c0c0, #f1f0f0);
  background-size: 200%;
  background-position: left;
  animation: slideLoader 1.2s ease-out 0s infinite normal;
  border-radius: var(--border-radius-md);
}